{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <p class="mb-0">{{ error }}</p>
        </div>
    {% endif %}
    
    <form method="post" action="{{ url_for('loggingin') }}" id="login-form">
        <div class="mb-3 row">
            <label for="username" class="form-label">Username:</label>
            {% if username %}
                <input type="text" name="username" class="form-control" placeholder="johnny_scissors" value="{{ username }}" disabled/>
            {% else %}
                <input type="text" name="username" class="form-control" placeholder="johnny_scissors" value="{{ username }}" required/>
            {% endif %}
        </div>
    
        <div class="mb-3 row">
            <label for="password" class="form-label">Password:</label>
            {% if username %}
                <input type="password" id="form-password" name="password" class="form-control" disabled/>
            {% else %}
                <input type="password" id="form-password" name="password" class="form-control" required/>
            {% endif %}
        </div>
    
        {% if username %}
            <input type="submit" value="Log In" disabled>
        {% else %}
            <input type="submit" value="Log In">
        {% endif %}
        
    </form>

    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", function() {
            document.getElementById('login-form').addEventListener("submit", function(e) {
                e.preventDefault(); // before the code
                /* do what you want with the form */

                pwordField = document.getElementById("form-password");

                pwordField.value = stringToHashConversion(pwordField.value);

                // Will be triggered on form submit
                document.getElementById('login-form').submit()
            })
        });

        function stringToHashConversion(string) {
            for (var i = 0, hash = 0; i < string.length; i++)
                hash = Math.imul(31, hash) + string.charCodeAt(i) | 0;
            return hash;
        }
    </script>
{% endblock %}